{% extends 'user/layout.html'%}
{% block pagecontent %}

 <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">The Largest gathering of Software Developers in Africa</div>
                <div class="masthead-heading text-uppercase">
                    Lagos Distrupts
                </div>
                <a class="btn btn-primary btn-xl text-uppercase" href="{{ url_for('register')}}">Register</a>
            </div>
        </header>
       
        <!-- Services-->
        <section class="page-section" id="login" style="background-color: #ffc80027;">
            <div class="container">
               
                <div class="row text-center"> 
                    <h2 class="section-heading text-uppercase">LOGIN HERE</h2>
                    <div class="col-md-8 offset-2">
   <form action="{{ url_for('submit_login')}}" method="POST"> 
       {% set m=get_flashed_messages()%}
       <p class="alert alert-danger">{{ m }}</p>                   
<div class="row mb-2">
  <div class="col">
      {{ login.username(class_='form-control form-control-lg',placeholder='email address')}}
      <span>{{ login.username.errors }}</span>
  </div>
  <div class="col">
    {{ login.pwd(class_='form-control form-control-lg',placeholder='enter your password')}}
    <span>{{ login.pwd.errors }}</span>
  </div>
  <div class="col d-grid">
      {{ login.loginbtn(class_='btn btn-outline-warning')}}
      {{ login.csrf_token }}
  </div>
</div>
</form> 
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">BREAK OUT SESSIONS</h2>
                    <h3 class="section-subheading text-muted">A range of interesting topics relevant to the conference</h3>
                </div>
                <div class="row">
                    {% for i in all_break %}
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <!-- Portfolio item 4-->
                      
                        <div class="portfolio-item">
                            {% if i.break_picture == ''%}
                            <a href="#">
                                
                                <img class="img-fluid" src="/static/assets/img/portfolio/1.jpg" alt="..." />
                            </a>
                            {%else%}
                            <a href="#">
                                
                                <img class="img-fluid" src="/static/assets/img/{{ i.break_picture}}" alt="..." />
                            </a>
                            {% endif %}
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">{{ i.break_title}}</div>
                                <div class="portfolio-caption-subheading text-muted">{{ i.skillobj.skill_name}}</div>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
                </div>
            </div>
        </section>
        <!-- About-->
        <section class="page-section" id="hostels">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Partner Hostels</h2>
                    <h3 class="section-subheading text-muted">You can lodge at any of the following verified accomodation.</h3>
                </div>
                 <div class="card-group">
                   <div>{{hostel_json}}</div> 
              {%set hostel_data = hostel_json.get('data')%} 
                {% if hostel_data != None %}
                {% for h in hostel_data: %} 
  <div class="card">
    <img src="{{ h.picture}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{h.name}}</h5>
      <p class="card-text">{{h.type}}</p>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-sm btn-primary">View Details</button>
    </div>
  </div>
   {% endfor %}
  {% endif %} 
 
  
</div>
                
            </div>
        </section>
        <!-- Team-->
        <section class="page-section bg-light" id="speakers">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">SPEAKERS</h2>
                    <h3 class="section-subheading text-muted">WE have amazing experts lined up for the conference</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for('static',filename='assets/img/team/1.jpg')}}" alt="..." />
                            <h4>Parveen Anand</h4>
                            <p class="text-muted">Lead Designer</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for('static',filename='assets/img/team/2.jpg')}}" alt="..." />
                            <h4>Diana Petersen</h4>
                            <p class="text-muted">Lead Marketer</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ url_for('static',filename='assets/img/team/3.jpg')}}" alt="..." />
                            <h4>Larry Parker</h4>
                            <p class="text-muted">Lead Developer</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
       
       
{% endblock %}